{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Password reset{% endblock %}

{% block content %}
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="mx-auto max-w-7xl px-6 py-16 lg:px-8">
      <div class="overflow-hidden rounded-lg bg-white shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
        <div class="px-6 pb-12 pt-10 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:px-20 xl:py-20 lg:h-96">
          <div class="lg:self-center">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-20 w-auto" src="{% static 'img/IAALogo.png' %}" alt="Your Company">
                <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Account recovery</h2>
              </div>
          </div>
        </div>
        <div class="mx-8 lg:self-center">
            <form action="." method="post" class="space-y-4">
                {% csrf_token %}
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Enter the last email you used with this account</label>
                <div class="mt-2">
                  <input type="email" name="email" id="email" required class="block w-full rounded-md border-0 py-3 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset sm:text-sm sm:leading-6" placeholder="you@example.com">
                </div>
                <div class="mt-5">
                    <button type="submit" class=" self-end float-end mt-4 py-2 px-4 bg-red-500 text-white font-semibold rounded-md shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Send E-mail</button>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

