{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Password reset{% endblock %}

{% block content %}
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="mx-auto max-w-7xl px-6 py-16 lg:px-8">
        <div
            class="overflow-hidden rounded-lg bg-white shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
            <div
                class="px-6 pb-12 pt-10 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:px-20 xl:py-20 lg:h-96">
                <div class="lg:self-center">
                    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                        <img class="mx-auto h-20 w-auto"
                            src="{% static 'img/IAALogo.png' %}"
                            alt="Your Company">
                        <h2
                            class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Account
                            recovery</h2>
                    </div>
                </div>
            </div>
            <div class="mx-8 lg:self-center mb-10">
                {% if validlink %}
                <form action="." method="post" class="space-y-4">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit"
                        class="w-full bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-700 transition-colors duration-300">Change
                        my password</button>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because
                    it has
                    already been used. Please request a new password
                    reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
