{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div
      class="overflow-hidden rounded-lg bg-white shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
      <div
        class="px-6 pb-12 pt-10 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:px-20 xl:py-20 lg:h-96">
        <div class="lg:self-center">
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-20 w-auto"
              src="{% static 'img/IAALogo.png' %}" alt="Your Company">
            <h2
              class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Account
              recovery</h2>
          </div>
        </div>
      </div>
      <div class="mx-8 lg:self-center mb-10">
        <h2
          class="sm:mt-5 mt-0 text-xl font-bold leading-9 tracking-tight text-gray-900">Reset
          your password</h2>
        <p class="mt-2 text-base text-gray-900">We've emailed you instructions
          for setting your password.</p>
        <p class="mt-2 text-base text-gray-900">If you don't receive an email,
          please make sure you've entered the
          address you registered with.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}